/* Загальний стиль сторінки */
.success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f4f7; /* світло-сірий фон */
  position: relative;
  overflow: hidden;
}

/* Фонові фігури */
.background-shapes-sc::before,
.background-shapes-sc::after {
  content: '';
  position: absolute;
  width: 614px;
  height: 501px;
  background-color: #204e44; /* темно-зелений фон */
  border-radius: 20px;
  transform: rotate(45deg);
  background-image: url(../img/greenBackroundLoginPage.jpg);
}

.background-shapes-sc::before {
  top: 386px;
  left: -180px;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 1))
  drop-shadow(0px 0px 30px rgba(0, 0, 0, 1));
}

.background-shapes-sc::after {
  bottom: 421px;
  right: -180px;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 1))
  drop-shadow(0px 0px 30px rgba(0, 0, 0, 1));
}

/* Бокс для успішного повідомлення */
.success-box {
  width: 380px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  z-index: 1;
}

.success-icon {
  font-size: 36px;
  color: #2e7d32; /* зелений колір іконки */
  margin-bottom: 10px;
}

.success-box h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333333;
}

.success-box p {
  font-size: 14px;
  color: #6b7280; /* світло-сірий текст */
  margin-bottom: 20px;
}

/* Кнопка для входу */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #204e44; /* зелений колір кнопки */
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #1b5e20;
}
