body {
  margin: 0;
  font-family: 'Source Sans 3', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-image: url(./components//img/white_bg.png);
  --background-color: #FFFFFF;
  --add-button-background: #2D62587A;
  --add-button-color: #FFFFFF;
  --default-box-shadow: 0px 1px 10px 0px #00000040;


}

.dark-mode {
  --background-image: url(./components//img/black_bg.png);
  --background-color: ##262626;
}